*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	padding: 40px;
	background-color: #151515;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
	color: #fff;
	text-align: center;

	font-size: 48px;
}

.card-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1024px;
	margin: 0 auto;
}

.card {
	border :1px solid #4b5362;
	padding: 20px;
	margin: 10px;
	border-radius: 10px;
	background-color: #31363f;
	min-height: "100px";
}

button {
	border: none;
	font-size: 30px;
	background-color: transparent;
	width: 100%;
	text-align: right;
	cursor: pointer;
}